:root {
    --black: rgba(45, 45, 45, 1);
    --white: rgba(255, 255, 255, 1);
    --green: rgba(0, 147, 121, 1);
    --red: rgba(255, 98, 80, 1);
    --pink: rgba(243, 175, 168, 1);
    --grey: rgba(243, 243, 243, 1);
    --yellow: rgba(247, 214, 132, 1);
    --h1-font-family: "Epilogue-SemiBold", Helvetica;
    --h1-font-weight: 600;
    --h1-font-size: 68px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h2-font-family: "Epilogue-SemiBold", Helvetica;
    --h2-font-weight: 600;
    --h2-font-size: 32px;
    --h2-letter-spacing: 0px;
    --h2-line-height: 42px;
    --h2-font-style: normal;
    --subtitle-font-family: "Epilogue-SemiBold", Helvetica;
    --subtitle-font-weight: 600;
    --subtitle-font-size: 20px;
    --subtitle-letter-spacing: 0px;
    --subtitle-line-height: 30px;
    --subtitle-font-style: normal;
    --body-text-font-family: "Epilogue-Regular", Helvetica;
    --body-text-font-weight: 400;
    --body-text-font-size: 17px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: 27px;
    --body-text-font-style: normal;
    --h1-mobile-font-family: "Epilogue-SemiBold", Helvetica;
    --h1-mobile-font-weight: 600;
    --h1-mobile-font-size: 65px;
    --h1-mobile-letter-spacing: 0px;
    --h1-mobile-line-height: normal;
    --h1-mobile-font-style: normal;
    --h3-font-family: "Epilogue-SemiBold", Helvetica;
    --h3-font-weight: 600;
    --h3-font-size: 27px;
    --h3-letter-spacing: 0px;
    --h3-line-height: 42px;
    --h3-font-style: normal;
}
